
<div class="page-container">
    <div class="title-container">
        <h2>Latest Jobs on Website</h2>
    </div>
    <br>
    <div class="job-slider">
        <div class="slider-container">
            <div 
                *ngFor="let job of getVisibleJobs(); let i = index" 
                class="card" 
                [ngClass]="{
                    'active': isActive(i), 
                    'left': isPrev(i), 
                    'right': isNext(i)
                }"
                (click)="setActiveIndex(i)">
                <h3>{{ job.title }}</h3>
                <ul>
                    <li>{{ job.location }}</li>
                    <li>₹ {{ job.salary }}</li>
                    <li>Openings - {{ job.openings }}</li>
                    <li>{{ job.type }}</li>
                </ul>
                <button class="view-more">View More..</button>
            </div>
        </div>
        <div class="navigation">
            <button (click)="prev()">&#10094;</button>
            <button (click)="next()">&#10095;</button>
        </div>
        
    </div>
    <div>
        <a href="#" class="read-more">View More <button>&#10095;</button></a>
    </div>
</div>
