<nav class="navbar">
  <!-- Hamburger Icon for Mobile View -->
  <button class="hamburger-icon" (click)="toggleNavbar()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <!-- Navigation Items -->
  <ul class="nav-items" [class.open]="isNavbarOpen">
    <li class="nav-item" *ngFor="let item of navItems">
      <a>{{ item.label }}</a>
      <div class="dropdown">
        <div *ngFor="let category of item.categories" class="dropdown-category">
          <h3>{{ category.title }} <span class="dropdown-icon"></span></h3>
          <div *ngFor="let subitem of category.items" class="dropdown-item">
            <a href="#">{{ subitem }}</a>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <!-- Login Button -->
  <button class="login-button" [routerLink]="['/login']">Login</button>
</nav>
