<!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
 
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-4 col-md-4 col-lg-2 sidebar sticky-top">
      <div class="text-center my-3">
        <img src="../../../assets/Job Website logo.jpeg" width="150" alt="" />
        <h5 class="text-white">Admin</h5>
      </div>
      <hr />
      <ul class="nav flex-column mx-5 ">
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/save-job']" routerLinkActive="router-link-active">
            <i class="fa fa-briefcase text-warning"></i> Job's
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link " [routerLink]="['/internship']">
            <i class="fa-brands fa-wpforms"></i> Internship
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/userslist']">
            <i class="fas fa-envelope text-info"></i> Userlist
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/view-all-forms-admin']">
            <i class="fas fa-envelope text-info"></i> View All Forms
          </a>
        </li>
      </ul>
    </nav>
 
    <!-- Main content -->
    <div class="col-8 col-md-8 col-lg-10 p-0">
      <!-- topbar start -->
      <div class="d-flex justify-content-between align-items-center topbar">
        <div class="d-flex gap-2 align-items-center">
          <i class="fa-solid fa-bars fa-xl"></i>
        </div>
        <div>
          <span class="dropdown-toggle p-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/userimage.png" class="rounded-circle img-fluid" alt="User" style="width: 40px; height: 40px" />
            Admin
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
 
      <div class="form-container">
        <form #jobForm="ngForm" (ngSubmit)="saveJob(jobForm)">
          <!-- Job Basics -->
          <div class="section">
            <h5>Job Basics</h5>
            <div class="row">
              <div class="col-md-6">
                <label for="title">Title:</label>
                <input
                  id="title"
                  type="text"
                  [(ngModel)]="job.title"
                  name="title"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="category">Category:</label>
                <input
                  id="category"
                  type="text"
                  [(ngModel)]="job.category"
                  name="category"
                  required
                />
              </div>
            </div>
          </div>
     
          <!-- Job Details -->
          <div class="section">
            <h5>Job Details</h5>
            <div class="row">
              <div class="col-md-6">
                <label for="location">Location:</label>
                <input
                  id="location"
                  type="text"
                  [(ngModel)]="job.location"
                  name="location"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="employmentType">Employment Type:</label>
                <input
                  id="employmentType"
                  type="text"
                  [(ngModel)]="job.employmentType"
                  name="employmentType"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="workModel">Work Model:</label>
                <input
                  id="workModel"
                  type="text"
                  [(ngModel)]="job.workModel"
                  name="workModel"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="experience">Experience:</label>
                <input
                  id="experience"
                  type="text"
                  [(ngModel)]="job.experience"
                  name="experience"
                  required
                />
              </div>
            </div>
          </div>
     
          <!-- Job Description -->
          <div class="section">
            <h5>Job Description</h5>
            <div class="row">
              <div class="col-12">
                <label for="jobDescription">Description:</label>
                <textarea
                  id="jobDescription"
                  [(ngModel)]="job.jobDescription"
                  name="jobDescription"
                  rows="6"
                  required
                ></textarea>
              </div>
            </div>
          </div>
     
          <!-- Company Details -->
          <div class="section">
            <h5>Company Details</h5>
            <div class="row">
              <div class="col-md-6">
                <label for="company">Company Name:</label>
                <input
                  id="company"
                  type="text"
                  [(ngModel)]="job.company"
                  name="company"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="companyDescription">Company Description:</label>
                <textarea
                  id="companyDescription"
                  [(ngModel)]="job.companyDescription"
                  name="companyDescription"
                  rows="4"
                ></textarea>
              </div>
            </div>
          </div>
     
          <!-- Key Dates -->
          <div class="section">
            <h5>Key Dates</h5>
            <div class="row">
              <div class="col-md-6">
                <label for="openingStartDate">Opening Start Date:</label>
                <input
                  id="openingStartDate"
                  type="date"
                  [(ngModel)]="job.openingStartDate"
                  name="openingStartDate"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="lastApplyDate">Last Apply Date:</label>
                <input
                  id="lastApplyDate"
                  type="date"
                  [(ngModel)]="job.lastApplyDate"
                  name="lastApplyDate"
                  required
                />
              </div>
            </div>
          </div>
     
          <!-- Additional Information -->
          <div class="section">
            <h5>Additional Information</h5>
            <div class="row">
              <div class="col-md-6">
                <label for="skills">Skills:</label>
                <input
                  id="skills"
                  type="text"
                  [(ngModel)]="job.skills"
                  name="skills"
                  placeholder="Comma-separated skills"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="perks">Perks:</label>
                <textarea
                  id="perks"
                  [(ngModel)]="job.perks"
                  name="perks"
                  rows="2"
                ></textarea>
              </div>
            </div>
          </div>
     
          <!-- Submission -->
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" [disabled]="!jobForm.valid">Save Job</button>
              <button type="button" (click)="updateJob()" [disabled]="!job.id">Update Job</button>
            </div>
          </div>
        </form>
      </div>
     
     
     
      <hr />
     
      <div class="jobs-list">
        <h3>Saved Jobs</h3>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobs">
              <td>{{ job.id }}</td>
              <td>{{ job.title }}</td>
              <td>{{ job.category }}</td>
              <td>
                <button (click)="editJob(job)">Edit</button>
                <button (click)="deleteJob(job.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
     